* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;

}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  border-bottom: 1px solid #f0f2f7;
}

.header__navigation {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.header__logo {
  width: 92px;
  height: 25px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header__menu-item {
  margin: 0 30px;
  color: #343e5c;
  font-size: 14px;
  font-weight: 400;
}

.header__cart {
  color: #343e5c;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.header__cart::before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 17px;
  background-image: url(../images/Shopping_Cart_Icon.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  vertical-align: middle;
  margin-right: 8px;
}

.header__cart-input {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e3e8f0;
  border: none;
  vertical-align: middle;
  color: #343e5c;
  font-size: 11px;
  font-weight: 400;
  padding-left: 9px;
}

.header__signin-btn {
  color: #343e5c;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  border-radius: 16px;
  border: 2px solid #e3e8f0;
  padding: 7px 18px;
}

.main__container-menu {
  border-bottom: 1px solid #f0f2f7;
}

.main__navigation {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main__menu {
  padding-top: 21px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

}

.main__menu-item {
  margin: 0 30px;
  color: #b9bed1;

  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}

.main__menu-item:first-child {
  margin-left: 0;
}

.main__menu-item:last-child {
  margin-left: auto;
}

.main__search {
  width: 200px;
  padding-left: 45px;
  border: none;
  border-left: 2px solid #e3e8f0;
  border-right: 2px solid #e3e8f0;
  color: #a1a8bd;
  font-size: 14px;
  font-weight: 400;
  line-height: 55px;
}

.main__search-label {
  position: relative;
}

.main__search-label::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 20px;
  width: 13px;
  height: 13px;
  background-image: url('../images/Search_Icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main__slide {
  background-color: #1c1e23;
  height: 500px;
  background-image: url(../images/iphone_6_space_gray_v3_.RGB_color.0115.jpg);
  background-repeat: no-repeat;
  background-position: 73% 0;

}

.main__container {
  max-width: 1170px;
  margin: 0 auto;

}

.main__heading {
  color: #ffffff;
  font-size: 42px;
  font-weight: 900;
  padding-top: 100px;
  padding-left: 100px;
}

.main__text {
  margin-top: 30px;
  padding-left: 100px;
  width: 461px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.main__button {
  color: #ffffff;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  box-shadow: 0 20px 40px rgba(168, 173, 187, 0.62);
  border-radius: 21px;
  background-color: #2754eb;
  text-align: center;
  width: 165px;
  height: 42px;
  padding-top: 16px;
  margin-left: 100px;
  margin-top: 60px;
}