body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 20px 0;
}
.header__logo {
  width: 440px;
  height: 46px;
  color: #363636;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-left: 5%;
}
.header__contacts {
  margin-right: 5%;
}
.header__phone {
  display: block;
  color: #363636;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.header__btn {
  color: #363636;
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  display: block;
  border-radius: 10px;
  border: 2px solid #282828;
  padding: 3px 0 3px 0;
  margin-top: 6px;
}
.slide__nav {
  background-color: #292d30;
}
.slide__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.slide__item {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  margin: 0 30px;
}
.slide__wrap {
  background-image: url('../image/slide-bg.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 300px;
  padding-bottom: 100px;
}
.slide__heading {
  font-size: 100px;
  font-weight: 100;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0;
}
.slide__subheading {
  color: #ffffff;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
}
.slide__text {
  width: 572px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-top: 30px;
}
.slide__video-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.slide__offer {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  margin-top: 80px;
}
.slide__offer_pt {
  margin-top: 150px;
}
.slide__arrow {
  position: absolute;
  top: 100px;
  right: -30px;
}
.slide__btn {
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 17px 45px;
  border-radius: 33px;
  background-color: #059feb;
  margin-top: 40px;
}
.slide__btn:hover {
  -webkit-box-shadow: 2px 2px 5px #059feb;
          box-shadow: 2px 2px 5px #059feb;
}
.slide__mouse {
  margin-top: 25px;
}
.offers {
  padding-top: 60px;
  padding-bottom: 100px;
}
.offers__heading {
  margin: 0;
  text-align: center;
  color: #363636;
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}
.offers__line {
  margin: 0 auto;
  margin-top: 20px;
  width: 177px;
  height: 5px;
  background-color: #059feb;
}
.offers__text {
  text-align: center;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 34px;
}
.offers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 70px;
}
.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offers__item-heading {
  color: #333333;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  padding: 0 5px;
  margin-top: 25px;
  text-align: center;
}
.offers__item-text {
  margin: 0;
  padding: 0 5px;
  text-align: center;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  margin-top: 17px;
}
