/*Basic style*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #f5f5f5;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Header*/
.header {
  padding-bottom: 340px;
  width: 100%;
}

.header__bg-wrap {
  width: 100%;
  height: 873px;
  background-color: #330066;
  background-image: -o-linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
  background-image: linear-gradient(45deg, #0169b4 0%, #a72b8f 100%);
}

.header__navigation {
  padding-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.logo img {
  width: 55px;
  height: 45px;
  vertical-align: middle;
}

.logo-text {
  margin-left: 24px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
  padding-bottom: 5px;
  vertical-align: middle;
}

.logo-text span {
  font-weight: 300;
}

.menu {
  -ms-flex-preferred-size: 53%;
  flex-basis: 53%;
  position: relative;
}

/*Hamburger*/


#menuToggle {
  position: absolute;
  right: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

#menuToggle input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide input */
  z-index: 1;
  /* top of the menu */
}

#menuToggle span {
  width: 40px;
  height: 3px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
  -webkit-transition: all .5s cubic-bezier(.08, .81, .87, .71);
  -o-transition: all .5s cubic-bezier(.08, .81, .87, .71);
  transition: all .5s cubic-bezier(.08, .81, .87, .71);
}

#span1 {
  -webkit-transform-origin: 4px 0px;
  -ms-transform-origin: 4px 0px;
  transform-origin: 4px 0px;
}

#span3 {
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right;
}

#menuToggle input:checked~#span1 {
  background-color: #fff;
  -webkit-transform: rotate(45deg) translate(5px);
  -ms-transform: rotate(45deg) translate(5px);
  transform: rotate(45deg) translate(5px);
}

#menuToggle input:checked~#span2 {
  background-color: #fff;
  -webkit-transform: rotate(495deg) translate(2px);
  -ms-transform: rotate(495deg) translate(2px);
  transform: rotate(495deg) translate(2px);
}

#menuToggle input:checked~#span3 {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
}





.navigation {

  margin-top: 0;
  padding-top: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  height: 30px;
}

.navigation__item {
  list-style: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__item:after {
  content: "";
  display: none;
  height: 1px;
  border: 1px solid #fff;
  background-color: #fff;
}

.navigation__item:hover.navigation__item:after {
  display: block;
}

.header__heading {
  margin-top: 143px;
  padding-left: 3px;
  width: 500px;
  color: #ffffff;
  font-size: 48px;
  font-weight: 300;
  line-height: 75px;
  text-transform: uppercase;
}

.header__heading span {
  font-weight: 600;
}

.header__offer {
  margin-top: 130px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.offer__item {
  padding-top: 69px;
  padding-bottom: 50px;
  width: 369px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer__item-icon {
  width: 95px;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offer__item-heading {
  margin: 0;
  margin-top: 30px;
  padding: 0 95px;
  color: #666666;
  font-size: 30px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}

.offer__item-text {
  margin: 0;
  margin-top: 40px;
  padding: 0 25px;
  color: #878787;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

.btn {
  color: #999999;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 50px;
  border: 2px solid #cccccc;
  display: block;
  width: 170px;
}

.offer__item-btn {
  margin-top: 50px;
}

.btn:hover {
  -webkit-box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
  box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
  background-color: #0169b4;
  color: #fff;
  font-weight: 600;
}

/*About Us*/
.about-us {
  padding-top: 160px;
  padding-bottom: 80px;
}

.about-us__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-us__info {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  padding-right: 45px;
}

.heading {
  margin: 0;
  color: #0169b4;
  font-size: 50px;
  font-weight: 500;
  line-height: 30px;
}

.about-us__heading {
  margin-top: 50px;
}

.about-us__text {
  margin-top: 50px;
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

.about-us__btn {
  margin-top: 50px;
}

.about-us__photo {
  width: 570px;
  height: 435px;
  background-color: #999999;
}

/*Our Project*/
.our-project {
  padding-top: 80px;
  padding-bottom: 80px;
}

.our-project__heading {
  margin-bottom: 70px;
}

.our-project__list {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.our-project__item {
  margin: 0 1%;
  padding: 1%;
  background-color: #fff;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
}

.our-project__item img {
  width: 100%;
}

.our-project__item:hover {
  -webkit-box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
  box-shadow: 0 0 14px 2px rgba(1, 105, 180, 0.26);
}

/*Solutions*/

.solutions {
  padding-top: 80px;
  padding-bottom: 160px;
}

.solutions__heading {
  margin-bottom: 68px;
}

.solutions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.solutions__item {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

.solutions__item-heading {
  color: #333333;
  font-size: 30px;
  font-weight: 500;
}

.solutions__item-text {
  color: #878787;
  font-size: 18px;
  width: 490px;
  line-height: 30px;
}

/*Reviews*/
.reviews {
  padding-bottom: 90px;
  background-color: #fff;
  position: relative;
}

.reviews__info {
  padding-top: 90px;
}

.reviews__heading {
  margin-bottom: 100px;
}

.reviews__text {
  padding-left: 45px;
  width: 550px;
  margin-bottom: 50px;
  color: #878787;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  position: relative;
}

.reviews__text::before {
  content: "";
  width: 35px;
  height: 26px;
  background-image: url("../images/quotes.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: -12px;
  left: 0;
}

.reviews__signature {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  padding-left: 45px;
}

.reviews__signature::before {
  content: "-";
}

.reviews__btn {
  margin-top: 70px;
  margin-left: 370px;
}

.reviews__photo {
  max-width: 837px;
  width: 49%;
  height: 100%;
  background-color: #999999;
  background-image: url(../images/reviews.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 51%;
}

/*News*/
.news {
  padding-top: 170px;
  padding-bottom: 160px;
}

.news__list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news__item {
  width: 360px;
}

.news__item-heading {
  width: 315px;
  padding-left: 100px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  position: relative;
}

.news__item:nth-child(1) .news__item-heading::before {
  content: "19";
}

.news__item:nth-child(2) .news__item-heading::before {
  content: "20";
}

.news__item:nth-child(3) .news__item-heading::before {
  content: "21";
}

.news__item:nth-child(1) .news__item-heading::before,
.news__item:nth-child(2) .news__item-heading::before,
.news__item:nth-child(3) .news__item-heading::before {
  position: absolute;
  color: #cccccc;
  font-weight: 500;
  font-size: 60px;
  left: 0;
  top: 0;
}

.news__item-heading::after {
  content: "may";
  color: #cccccc;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 24px;
  position: absolute;
  left: 0;
  top: 45px;
}

.news__item-text {
  margin-top: 75px;
  margin-bottom: 65px;
  padding-right: 5px;
  color: #878787;
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}

/*Footer*/
.footer {
  padding-top: 115px;
  padding-bottom: 100px;
  background-color: #a72b8f;
  background-image: -o-linear-gradient(225deg, #0169b4 0%, #a72b8f 100%);
  background-image: linear-gradient(-135deg, #0169b4 0%, #a72b8f 100%);
  position: relative;
  overflow: hidden;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 135px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__item-wrap {
  width: 70px;
  height: 70px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contacts__item-text {
  margin-top: 25px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.footer__social {
  width: 350px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__social img {
  width: 42px;
  height: 42px;
}

.pinterest-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 5px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #fff;
}

.pinterest-wrap img {
  width: 35px;
}

.arrow-up {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  bottom: -98px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.arrow-up img {
  position: absolute;
  top: 20px;
  left: 60px;
}

@media (max-width:1200px) {
  .container {
    max-width: 992px;
    padding: 0 20px;
  }

  .offer__item {
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    width: 30%;
  }

  .our-project__list {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .solutions__item-text {
    width: 390px;
  }

  .reviews__text {
    width: 450px;

  }

  .reviews__btn {
    margin-left: 270px;
  }
}

@media (max-width:991px) {

  .container {
    width: 100%;
  }

  .btn {
    font-size: 16px;
  }

  .header {
    padding-bottom: 180px;
  }

  .header__bg-wrap {
    height: 700px;
  }

  .header__navigation {
    padding-top: 50px;
  }

  .header__heading {
    margin: 50px;
  }

  .header__offer {
    margin-top: 50px;
  }

  .offer__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .offer__item-heading {
    margin-top: 10px;
    font-size: 26px
  }

  .offer__item-text {
    margin-top: 20px;
    font-size: 16px;
  }

  .offer__item-btn {
    margin-top: 30px;
  }

  #menuToggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }


  .navigation {
    position: absolute;
    right: 0;
    top: 50px;
    width: 50%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    background-color: rgba(0, 0, 0, .5);
    display: block;
    text-align: right;
    padding-right: 10px;
    -webkit-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  .navigation__item::after {
    width: 50%;
    margin-left: auto;

  }

  .active-menu {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  .about-us {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .our-project {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .our-project__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .our-project__item {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    margin-bottom: 20px;
  }

  .solutions {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .solutions__heading {
    margin-bottom: 30px;
  }

  .solutions__list {
    display: block;
  }

  .solutions__item-heading {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .solutions__item-text {
    width: 100%;
    font-size: 16px;
  }

  .news {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .news__list {
    display: block;
  }

  .news__item {
    width: 100%;
    margin-bottom: 20px;
  }

  .news__item-text {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .news__item-btn {
    margin-left: auto;
  }

  .news__item-heading {
    width: auto;
  }

  .about-us__wrap {
    display: block;
  }

  .about-us__info {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .about-us__text {
    font-size: 16px;
  }

  .about-us__btn {
    margin-left: auto;
  }

  .about-us__photo {
    margin: 0 auto;
  }

  .reviews {
    padding-bottom: 30px;
  }

  .reviews__info {
    padding-top: 30px;
  }

  .reviews__heading {
    margin-bottom: 50px;
  }

  .reviews__text {
    width: 100%;
    margin-bottom: 30px;
  }

  .reviews__btn {
    margin-top: 30px;
    margin-left: auto;
  }

  .reviews__photo {
    display: none;
  }
}

@media (max-width:767px) {
  .header {
    padding-bottom: 470px;
  }

  .logo-text {
    font-size: 20px;
  }

  .header__heading {
    padding: 0;
    font-size: 25px;
    width: 60%;
  }

  .navigation__item {
    font-size: 14px;
  }

  .navigation__item::after {
    width: 100%;
    margin-left: auto;
  }

  .offer {
    display: block;
    margin-top: 0;
  }

  .offer__item {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .offer__item-heading {
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }

  .offer__item-text {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
  }

  .about-us {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .about-us__heading {
    margin-top: 10px;
  }

  .about-us__photo {
    display: none;
  }

  .our-project {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .our-project__heading {
    margin-bottom: 30px;
  }

  .solutions {
    padding-top: 20px;
    padding-bottom: 20px;
  }


  .contacts {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }

  .contacts__item {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 20px;
  }

  .footer {
    padding-top: 40px;
  }
}

@media (max-width:590px) {
  .header {
    padding-bottom: 560px;
  }
}

@media (max-width:480px) {
  .header {
    padding-bottom: 210px;
  }

  .header__navigation {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .logo-text {
    display: none;
  }

  .navigation {
    right: -25%;
    padding-left: 0;
    width: 100%;
  }

  .header__heading {
    width: 80%;
    margin: 34px 0;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
  }

  .offer__item-icon {
    width: 40px;
    height: 40px;
  }

  .offer__item-icon img {
    width: 100%;
  }

  .offer__item-heading {
    font-size: 18px;
  }

  .offer__item-text {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
    width: 130px;
    padding: 0;
  }

  .heading {
    font-size: 30px;
  }

  .about-us__text {
    font-size: 14px;
    margin-top: 20px;
  }

  .about-us__info {
    margin-bottom: 0;
  }

  .about-us__btn {
    margin-top: 20px;
  }

  .solutions__item-heading {
    font-size: 18px;
    margin-bottom: 0;
  }

  .solutions__item-text {
    font-size: 14px;
    line-height: 24px;
  }

  .reviews__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .reviews__signature {
    font-size: 14px;

  }

  .reviews__btn {
    margin-top: 10px;
  }

  .news {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .news__list {
    margin-top: 40px;
  }

  .news__item-text {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .contacts__item-text {
    text-align: center;
  }

  .contacts__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
  }

  .footer {
    padding-bottom: 40px;
  }

  .footer__social {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }

  .footer__social a {

    -ms-flex-preferred-size: 50%;

    flex-basis: 50%;
    margin-bottom: 30px;

  }

}


@media (max-width:411px) {
  .header {
    padding-bottom: 290px;
  }
}

@media (max-width:330px) {
  .header {
    padding-bottom: 410px;
  }
}