/*Fonts*/
@font-face {
  font-family: "P22-Book";
  src: url("../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.eot");
  src: url("../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Book/P22UndergroundCYPro-Book.svg#P22UndergroundCYPro-Book") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "P22-Heavy";
  src: url("../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.eot");
  src: url("../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Heavy/P22UndergroundCYPro-Heavy.svg#P22UndergroundCYPro-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "P22-Thin";
  src: url("../fonts/P22UndergroundCYPro-Thin/P22UndergroundCYPro-Thin.eot");
  src: url("../fonts/P22UndergroundCYPro-Thin/P22UndergroundCYPro-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/P22UndergroundCYPro-Thin/P22UndergroundCYPro-Thin.woff2") format("woff2"), url("../fonts/P22UndergroundCYPro-Thin/P22UndergroundCYPro-Thin.woff") format("woff"), url("../fonts/P22UndergroundCYPro-Thin/P22UndergroundCYPro-Thin.ttf") format("truetype"), url("../fonts/P22UndergroundCYPro-Thin/P22UndergroundCYPro-Thin.svg#P22UndergroundCYPro-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
}
/*Basic style*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
/*Header*/
.header {
  width: 100%;
  padding-bottom: 50px;
  background-color: #336699;
  background-image: url(../images/header_bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: relative;
}
.header__top-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-img {
  width: 100px;
  height: 50px;
}
.header__logo-text {
  color: #ffffff;
  font-family: "P22-Heavy", serif;
  font-size: 18px;
  line-height: 24px;
  margin-left: 16px;
}
.header__logo-text span {
  font-family: "P22-Thin", serif;
  color: rgba(255, 255, 255, 0.6);
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__request {
  color: rgba(255, 255, 255, 0.6);
  font-family: "P22-Thin", serif;
  font-size: 15px;
  line-height: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 21px 26px 22px 24px;
}
.header__request:hover {
  background-color: #fff;
  color: #333333;
}
.header__phone {
  color: #ffffff;
  font-family: "P22-Heavy", serif;
  font-size: 25px;
  line-height: 56px;
  margin-left: 39px;
}
.header__text {
  margin-top: 50px;
  max-width: 1110px;
  color: #ffff33;
  font-family: "P22-Heavy", serif;
  font-size: 37px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.header__info {
  max-width: 550px;
  padding-top: 160px;
  margin-right: 50px;
}
.header__list {
  list-style: none;
  padding: 0;
}
.header__item {
  color: #ffffff;
  font-family: "P22-Book", serif;
  font-size: 20px;
  line-height: 35px;
}
.header__item::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 14px;
  background-image: url(../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  margin-right: 15px;
}
.header__form-box {
  background-color: #fff;
  border-radius: 5px;
  width: 420px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.header__form-heading {
  color: #333333;
  font-family: "P22-Book", serif;
  font-size: 22px;
  line-height: 25px;
  text-align: center;
  padding: 0 60px;
}
.header__form {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header__form input {
  width: 320px;
  height: 59px;
  border: 1px solid #333333;
  padding-left: 79px;
  padding-right: 20px;
  margin: 0 50px 10px 50px;
  color: #333333;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.header__form input::-webkit-input-placeholder {
  color: #999999;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.header__form input:-ms-input-placeholder {
  color: #999999;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.header__form input::-ms-input-placeholder {
  color: #999999;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.header__form input::placeholder {
  color: #999999;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.header__form-login {
  display: block;
  width: 59px;
  height: 59px;
  background-color: #333333;
  background-image: url(../images/login.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 50px;
}
.header__form-phone {
  display: block;
  width: 59px;
  height: 59px;
  background-color: #333333;
  background-image: url(../images/phone.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 70px;
  left: 50px;
}
.header__form-btn {
  color: #333333;
  font-family: "P22-Book", serif;
  font-size: 15px;
  width: 320px;
  padding: 20px 70px;
  background-color: #ffff33;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px #999900;
          box-shadow: 0 4px 4px #999900;
}
.header__form-btn:hover {
  -webkit-box-shadow: 0 4px 10px #999900;
          box-shadow: 0 4px 10px #999900;
}
.header__decor {
  position: absolute;
  bottom: -40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.advantages {
  padding-top: 100px;
}
.advantages__list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.advantages__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 96px;
}
.advantages__item-bg {
  width: 80px;
  height: 80px;
  background-color: #ffff33;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantages__item-text {
  margin-top: 28px;
  width: 200px;
  color: #333333;
  font-family: "P22-Book", serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.footer {
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: rgba(51, 51, 51, 0.02);
}
.footer__procedure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}
.footer__procedure-item {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__procedure-number {
  color: #ffff33;
  font-family: "P22-Heavy", serif;
  font-size: 100px;
  line-height: 22px;
  text-transform: uppercase;
}
.footer__procedure-circle {
  /* Style for "кружочек" */
  width: 13px;
  height: 13px;
  background-color: #ffff33;
  border-radius: 50%;
  margin-top: 40px;
}
.footer__procedure-text {
  margin-top: 35px;
  width: 200px;
  color: #333333;
  font-family: "P22-Book", serif;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.footer__procedure-line {
  position: absolute;
  width: 81%;
  height: 1px;
  margin: 0 auto;
  border: 1px solid #ffff33;
  background-color: #ffff33;
  top: 67px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer__form-box {
  margin: 0 auto;
  margin-top: 45px;
  padding: 50px;
  max-width: 1080px;
  border-radius: 3px;
  background-color: #333333;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
.footer__form input {
  width: 320px;
  height: 59px;
  border: 1px solid #cccccc;
  background-color: #333333;
  padding-left: 79px;
  padding-right: 20px;
  margin-right: 10px;
  color: #cccccc;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.footer__form input::-webkit-input-placeholder {
  color: #cccccc;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.footer__form input:-ms-input-placeholder {
  color: #cccccc;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.footer__form input::-ms-input-placeholder {
  color: #cccccc;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.footer__form input::placeholder {
  color: #cccccc;
  font-family: "P22-Book", serif;
  font-size: 15px;
  line-height: 45px;
}
.footer__form-login {
  display: block;
  width: 59px;
  height: 59px;
  background-color: #fff;
  background-image: url(../images/login2.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__form-phone {
  display: block;
  width: 59px;
  height: 59px;
  background-color: #fff;
  background-image: url(../images/phone2.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 330px;
}
.footer__form-btn {
  color: #333333;
  font-family: "P22-Book", serif;
  font-size: 15px;
  width: 320px;
  padding: 20px 70px;
  background-color: #ffff33;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 4px #999900;
          box-shadow: 0 4px 4px #999900;
}
.footer__form-btn:hover {
  -webkit-box-shadow: 0 4px 10px #999900;
          box-shadow: 0 4px 10px #999900;
}
@media (max-width: 993px) {
  .header__inner {
    margin-top: 20px;
    display: block;
  }
  .header__text {
    margin-top: 20px;
  }
  .header__info {
    text-align: center;
    padding: 0;
    margin: 0 auto;
  }
  .header__form-box {
    margin-top: 20px;
    margin: 0 auto;
  }
  .header__decor {
    display: none;
  }
  .advantages {
    padding-top: 50px;
  }
  .advantages__item {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 50px;
  }
  .footer {
    padding-top: 60px;
  }
  .footer__procedure {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__procedure-item {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    margin-bottom: 50px;
  }
  .footer__procedure-number {
    line-height: 50px;
  }
  .footer__procedure-line {
    display: none;
  }
  .footer__procedure-circle {
    display: none;
  }
  .footer__form {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__form input {
    margin-bottom: 10px;
    margin-right: 0;
  }
  .footer__form-phone {
    left: 0;
    top: 69px;
  }
}
@media (max-width: 769px) {
  .header__top-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .header__logo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .header__logo-text {
    margin-left: auto;
    text-align: right;
  }
  .header__contacts {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 20px;
  }
  .header__text {
    font-size: 26px;
    margin-top: 0;
  }
  .header__item {
    font-size: 16px;
  }
  .header__item::before {
    width: 5px;
    height: 12px;
  }
  .header__form-box {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .header__form-heading {
    font-size: 18px;
  }
  .header__form {
    margin-top: 30px;
  }
  .header label {
    display: none;
  }
  .header__form input {
    padding-left: 20px;
  }
  .advantages {
    padding-top: 30px;
  }
  .advantages__item {
    margin-bottom: 30px;
  }
  .advantages__item-text {
    font-size: 14px;
    margin-top: 15px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer__procedure-item {
    margin-bottom: 30px;
  }
  .footer__procedure-text {
    font-size: 14px;
    margin-top: 15px;
  }
  .footer__form {
    width: 100%;
  }
  .footer__form-box {
    margin-top: 0;
  }
  .footer__form label {
    display: none;
  }
  .footer__form input {
    padding-left: 20px;
  }
}
@media (max-width: 412px) {
  .header__top-wrap {
    padding-top: 30px;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo-img {
    display: none;
  }
  .header__logo-text {
    text-align: center;
    margin-left: 0;
  }
  .header__contacts {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__request {
    display: block;
  }
  .header__phone {
    margin-left: 0;
  }
  .header__form {
    padding-left: 5px;
    padding-right: 5px;
  }
  .header__form input {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
  .header__form-btn {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer__form-box {
    padding: 20px 5px 20px 5px;
  }
  .footer__form input {
    width: 100%;
  }
  .footer__form-btn {
    width: 100%;
  }
}
