@blue: #059feb;
@text1: #333333;
@text2: #363636;
@border: #282828;

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 70px 0 20px 0;


  &__logo {
    width: 440px;
    height: 46px;
    color: @text2;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    margin-left: 5%;
  }

  &__contacts {
    margin-right: 5%;
  }

  &__phone {
    display: block;
    color: @text2;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__btn {
    color: @text2;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    display: block;

    border-radius: 10px;
    border: 2px solid @border;
    padding: 3px 0 3px 0;
    margin-top: 6px;
  }
}

.slide {
  &__nav {
    background-color: #292d30;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
  }

  &__item {
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    margin: 0 30px;
  }

  &__wrap {
    background-image: url('../image/slide-bg.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 300px;
    padding-bottom: 100px;
  }

  &__heading {
    font-size: 100px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;

    margin-bottom: 0;
  }

  &__subheading {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
  }

  &__text {
    width: 572px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-top: 30px;
  }

  &__video-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &__offer {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-top: 80px;

    &_pt {
      margin-top: 150px;
    }
  }

  &__arrow {
    position: absolute;
    top: 100px;
    right: -30px;
  }

  &__btn {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 17px 45px;
    border-radius: 33px;
    background-color: @blue;
    margin-top: 40px;

    &:hover {
      box-shadow: 2px 2px 5px @blue;
    }
  }

  &__mouse {
    margin-top: 25px;

  }

}

.offers {
  padding-top: 60px;
  padding-bottom: 100px;

  &__heading {
    margin: 0;
    text-align: center;
    color: @text2;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
  }

  &__line {
    margin: 0 auto;
    margin-top: 20px;
    width: 177px;
    height: 5px;
    background-color: @blue;
  }

  &__text {
    text-align: center;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 34px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item-heading {
    color: @text1;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 0 5px;
    margin-top: 25px;
    text-align: center;
  }

  &__item-text {
    margin: 0;
    padding: 0 5px;
    text-align: center;
    color: @text1;
    font-size: 18px;
    font-weight: 400;
    margin-top: 17px;

  }
}