@blue: #110e7c;
@lightblue: #3db8f5;
@nocolor: #d1e3ec;

.flex {
  display: flex;
  justify-content: center;
}

.box {
  width: 48px;
  height: 48px;
  border: 1px solid #939393;
}

body {
  background-color: @nocolor;
}

.container {
  width: 914px;
  height: 626px;
  margin: 100px auto;
}

.row:nth-child(1),
.row:nth-child(13) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(7),
  .col:nth-child(8),
  .col:nth-child(12),
  .col:nth-child(13) {
    background-color: @nocolor;
  }
}

.row:nth-child(2),
.row:nth-child(12) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(2),
  .col:nth-child(6),
  .col:nth-child(7),
  .col:nth-child(10),
  .col:nth-child(13),
  .col:nth-child(14),
  .col:nth-child(18) {
    background-color: @nocolor;
  }
}

.row:nth-child(3),
.row:nth-child(11) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(3),
  .col:nth-child(5),
  .col:nth-child(6),
  .col:nth-child(9),
  .col:nth-child(10),
  .col:nth-child(11),
  .col:nth-child(14),
  .col:nth-child(15),
  .col:nth-child(17) {
    background-color: @nocolor;
  }
}

.row:nth-child(4),
.row:nth-child(10) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(2),
  .col:nth-child(5),
  .col:nth-child(8),
  .col:nth-child(9),
  .col:nth-child(11),
  .col:nth-child(12),
  .col:nth-child(15),
  .col:nth-child(18) {
    background-color: @nocolor;
  }

  .col:nth-child(10) {
    background-color: @lightblue;
  }
}

.row:nth-child(5),
.row:nth-child(9) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(7),
  .col:nth-child(8),
  .col:nth-child(10),
  .col:nth-child(12),
  .col:nth-child(13) {
    background-color: @nocolor;
  }

  .col:nth-child(9),
  .col:nth-child(11) {
    background-color: @lightblue;
  }
}

.row:nth-child(6),
.row:nth-child(8) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(2),
  .col:nth-child(6),
  .col:nth-child(7),
  .col:nth-child(9),
  .col:nth-child(10),
  .col:nth-child(11),
  .col:nth-child(13),
  .col:nth-child(14),
  .col:nth-child(18) {
    background-color: @nocolor;
  }

  .col:nth-child(8),
  .col:nth-child(12) {
    background-color: @lightblue;
  }
}

.row:nth-child(7) {
  .flex;

  .col {
    .box;
    background-color: @blue;
  }

  .col:nth-child(3),
  .col:nth-child(5),
  .col:nth-child(6),
  .col:nth-child(8),
  .col:nth-child(9),
  .col:nth-child(11),
  .col:nth-child(12),
  .col:nth-child(14),
  .col:nth-child(15),
  .col:nth-child(17) {
    background-color: @nocolor;
  }

  .col:nth-child(7),
  .col:nth-child(13) {
    background-color: @lightblue;
  }
}